//----------------------------------------------------------------
// backgrounds

.bgt {
  background: transparent;
}

.bgc\(0f171d\) {
  background-color: #0f171d;
}

.bgc\(1565d8\) {
  background-color: #1565d8;
}

.bgc\(FAFAFA\) {
  background-color: #fafafa;
}

.bgc\(161f26\) {
  background-color: #161f26;
}

.bgc\(FFECDB\) {
  background-color: #ffecdb;
}
.bgc\(ffffff\) {
  background-color: #ffffff;
}
.bg-img-cover {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

// ------------------------------
// borders

.bdrb {
  border-bottom: 1px solid rgba(56, 60, 64, 0.5);
}

.bdrt {
  border-top: 1px solid rgba(56, 60, 64, 0.5);
}

.bdrr {
  border-right: 1px solid rgba(57, 61, 65, 0.5);
}

.bdr\(373a3d\) {
  border: 1px solid #373a3d;
}

.bdrr\(383c40\) {
  border-right: 1px solid #383c40;
}

.bdrb\(383c40\) {
  border-bottom: 1px solid #383c40;
}

.bdr\(77b7fd\) {
  border: 1px solid #77b7fd !important;
}

// ------------------------------ box shadow ------------------------------

.bgshadow1 {
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

// ------------------------------ border radius ------------------------------

.bdr-rounded {
  border-radius: 6px;
}
