@import "./fonts";

.mat-form-field-infix {
  border-top-width: 5px;
}

.loginFormWrapper {
  .mat-form-field-suffix {
    top: 0 !important;
  }
}

// ------------------------------  icon ------------------------------
// .navItems{
//   .mat-icon {
//     height: 100% !important;
//     svg{
//         vertical-align: middle !important;
//     }
//   }

// }

.filterIcon{
  svg{
    position: relative;
    top: -4px;
  }
}



// ------------------------------ checkbox ----------------

.attandanceTable {
  .mat-checkbox-layout{
    margin-bottom: 0 !important;
  }
}
.mat-pseudo-checkbox::after {
  color: #ffffff;
}

.mat-checkbox-checkmark-path {
  stroke: #ffffff !important;
}


.smallChips {
  .mat-standard-chip {
    min-height: 17px !important;
    color     : #202C3D !important;
  }

  .mat-chip-list-wrapper {
    width  : fit-content !important;
    display: inline !important;
  }

}

.formControlTopBorderUnset {
  .mat-form-field-infix {
    border-top: unset !important;
  }

}

.formControlTopBorderUnsetArrowTopUnset {
  .mat-select-arrow-wrapper {
    top: 4px !important;
  }
}


// ------------------------------ mat input ----------------

// select boxes

.filter-dropdown{
  .mat-form-field-wrapper{
    padding-bottom: unset !important;
  }
}

.matSelectCustomFocus {
  .mat-selected {
    .mat-option-text {
      color: #77B7FD !important;
    }
  }
}

.mat-select-min-line,
.mat-input-element {
  color      : #C3C5C7 !important;
  font-family: "Nunito";
  font-size  : 14px
}

.mat-select-grid-3.mat-select-panel {
  column-count: 3;
  column-width: 100px;
  width       : 300px;
  max-width   : 300px;
}



.mat-pseudo-checkbox-checked {
  background-color: #1565D8 !important;
  /* Red background for example */
}


.language-control {
  .mat-form-field-underline {
    display: none;
  }

  .mat-select-value {

    .mat-select-value-text,
    .mat-select-min-line {
      float: right;
    }

  }
}

.searchForm,
.language-control {
  .mat-form-field-underline {
    display: none !important;
  }
}

.formControlTopBorderUnset {
  .mat-form-field-infix {
    border-top: unset !important;
  }

  .mat-form-field-suffix {
    top   : 8px !important;
    bottom: 0px !important;
  }

  .mat-select-arrow-wrapper {
    position: relative;
    top     : 8px;
  }
}

.formControlTopBorderUnsetArrowTopUnsetLegacy {
  .mat-select-arrow-wrapper {
    top: 0px;
  }
}

.formControl-chiplist {
  .mat-form-field-infix {
    height        : 50px !important;
    padding-top   : 0px !important;
    padding-bottom: 0px !important;

    .mat-chip-list-wrapper {
      padding-top   : 11px;
      padding-bottom: 7px;
    }

    .mat-chip-input {
      padding-top   : 4px;
      padding-bottom: 6px;
    }

  }

}

// ------------------------------ mad dialog ----------------

.btn-dialog-action {
  .mat-button-wrapper {
    padding-left : 2em;
    padding-right: 2em;
  }

}

.mat-dialog-actions {
  background-color: #161F26;
  margin          : 2em -24px -24px -24px;
  width           : calc(100% + 48px);

}

.mat-dialog-container {
  background-color: #0F171D !important;
}

.mat-dialog-custom-backdrop {
  background-color: #202C3D;
  opacity         : 0.6 !important;
}

.custom-dialog-content {
  .horizontalLine {
    width: 100%;

    .horizontal-line {
      width       : calc(100% + 48px);
      margin-left : -24px;
      margin-right: -24px;
    }
  }

}


// ------------------------------------------------------------------------------------------------ stepper

.darkStepperContainer {
  .mat-stepper-horizontal {
    background-color: #0F171D;
  }
}

.mat-horizontal-content-container {
  padding-bottom: unset !important;
}


// ------------------------------ side bar ------------------------------
.mat-drawer {
  border: unset !important;
}

.mat-drawer-inner-container {
  background-color: #161F26
}

.navLinkInActive {
 
  .icon {
    svg {
      path {
        fill: #82898E !important;
      }
    }
  }
}

.navLinkActive {
  .navItem {
    background: #ffffff !important;

    .navItemLabel {
      color: #161F26 !important;
    }
  }

  .icon {
    svg {
      path {
        fill: #161F26 !important;
      }
    }
  }



}

.iconLinkInactive {
  svg {
    path {
      fill: #82898E !important;
    }
  }
}



// ------------------------------ form builder ------------------------------

.formBuilderElement {
  .mat-radio-label-content {
    width: 100%;
  }

  .mat-form-field-infix {
    padding-top: 0px !important;
    border-top : unset !important;
  }
}

