button {
    outline: none !important;
}

// ------------------------------ ui component globle settings action bar with text and icon ----------------

.uiComponent {
    .componentBody {
        .clubLogo {
            height: 42px;
            width : auto;
        }
    }

    .filterIcon {
        width: 20px;
    }

    .uiComponent-top-actions {
        position: relative;
        height  : 100%;

        .uiComponent-text-action {
            position: relative;
            top     : -8px;
        }

    }

    .uiComponent-small-icon {
        width : 10px;
        height: 10px;
    }

}


// scoll bar 
/* width */
::-webkit-scrollbar {
    width: 8px;
    background-color: #38434B;
}

/* Track */
::-webkit-scrollbar-track {
    background: #14212c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #38434B;
    border-radius: 22px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #38434B;
    border-radius: 0px;
    width: 8px;
    height: 8px;
    scrollbar-width: thin;

}


.cursor-pointer{
    cursor: pointer;
}
