$xs: 0.25em;
$s: 0.5em;
$r: 1em;
$l: 2em;
$xl: 3em;
$xxl: 4em;

//----------------------------------------------------------------
// padding 

.p-unset{
    padding: unset !important;
}

// paddng xs
.ptxs{
    padding-top: $xs;
}
.pbxs{
    padding-bottom: $xs;
}

// padding s
.ps{
    padding: $s;
}
.pts{
    padding-top: $s;
}

.pbs{
    padding-bottom: $s;
}

.pls{
    padding-left: $s;
}

.prs{
    padding-right: $s;
}

// padding r

.pr{
    padding: $r;
}

.ptr{
    padding-top: $r;
}

.pbr{
    padding-bottom: $r;
}

.plr{
    padding-left: $r;
}

.prr{
    padding-right: $r;
}

// padding l
.pl{
    padding: $l;
}

.pbl{
    padding-bottom: $l;
}
.ptl{
    padding-top: $l;
}

.pll{
    padding-left: $l;
}

.prl{
    padding-right: $l;
}

// ------------------------------ padding xl ----------------
.ptxl{
    padding-top: $xl;
}

.pbxl{
    padding-bottom: $xl;
}

// ------------------------------ padding xxl ----------------

.pbxxl{
    padding-bottom: $xxl;
}
//----------------------------------------------------------------
// margin 

.m-unset{
    margin: unset !important;
}

// ------------------------------ margin xs ----------------
.mlxs{
    margin-left: $xs;
}

// ------------------------------ margin s

.mls{
    margin-left: $s;
}
.mbs{
    margin-bottom: $s;
}

.mrs{
    margin-right: $s;
}

.mts{
    margin-top: $s;
}

// ------------------------------// margin r..
.mtr{
    margin-top: $r;
}

.mbr{
    margin-bottom: $r;
}

.mlr{
    margin-left: $r ;
}

.mrr{
    margin-right: $r;
}
.mr{
    margin: $r;
}
// ------------------------------ margin l

.mtl{
    margin-top: $l;
}

.mll{
    margin-left: $l !important;
}

.mrl{
    margin-right: $l ;
}

.ml{
    margin: $l;
}
.mbl{
    margin-bottom: $l;
}
// ------------------------------// margin xl
.mtxl{
    margin-top: $xl;
}

.mlxl{
    margin-left: $xl;
}

.mbxl{
    margin-bottom: $xl;
}

// ------------------------------// margin xxl

.mlxxl{
    margin-left: $xxl;
}

.mtxxl{
    margin-top: $xxl;
}

.mrxxl{
    margin-right: $xxl;
}





