<app-header backgroundImage="2_player" headerTitle="Tournaments"></app-header>

<section class="surveysDashboard">
  <div class="container-fluid">
    <div class="prr plr pbl">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <div class="surveysOrganisedView mtl">
            <app-tournaments-tab-view
              componentTitle="Tournaments for your Institute"
              [enableFilter]="true"
            ></app-tournaments-tab-view>
          </div>
          <div class="surveysForYou mtl">
            <app-tournaments-tab-view
              componentTitle="Tournaments hosted by St.Xaviers"
              [enableFilter]="true"
            ></app-tournaments-tab-view>
          </div>
          <div class="surveysForYou mtl">
            <app-tournaments-list-view
              [isCompleted]="true"
              componentTitle="Past Events"
              [enableFilter]="true"
            ></app-tournaments-list-view>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="activitiesView mtl">
            <app-global-activities></app-global-activities>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
