<app-header
  backgroundImage="1_football"
  headerTitle="Welcome back Andrew"
  subtitleTitle="NA Admin"
></app-header>

<section class="homeWrapper">
  <div class="container-fluid">
    <div class="plr prr pbl">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="eventsOrganisedView mtl">
            <app-organized-view
              componentTitle="National Events"
              [enableCreateNew]="true"
              [enableFilter]="true"
            ></app-organized-view>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="registrationRequestView mtl">
            <app-registration-requests
              componentTitle="Registration Requests - Regional Associations (12)"
              [enableFilter]="true"
            ></app-registration-requests>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="surrveysListView mtl">
            <uikit-surveys
              componentTitle="Surveys (23)"
              textAction="Recently Closed"
              [enableAddNew]="true"
            ></uikit-surveys>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="tournmentsListView mtl">
            <app-tournaments-list-view
              componentTitle="Tournaments (4)"
              [enableAddNew]="true"
              textAction="Current"
            ></app-tournaments-list-view>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="postsListView mtl">
            <app-posts-list-view
              componentTitle="Posts"
              [enableAddNew]="true"
              textAction="Recent"
            ></app-posts-list-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
