<div class="signupComponent bgc(0F171D) wdt(100)">
  <div class="componentHeader bdrb">
    <div class="container">
      <div class="header ptr pbs">
        <div class="branding">
          <img src="../../../../../assets/images/logos/LogoSmall.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="componentBody">
    <div class="instituteJoinFormWrapper container">
      <form
        action=""
        class="instituteJoinForm mtxxl formControlTopBorderUnset requestStyle"
      >
        <h1 class="formTitle ff-sb fc(ffffff) fs(32)">
          Request to Join Institute
        </h1>
        <h3 class="formTitle fc(9B9B9B) fs(24) mtl ff-r">
          A request will be sent to
          <span class="fc(ffffff) fs(24) ff-sb">School</span> in
          <span class="fc(ffffff) fs(24) ff-sb">Location</span>
        </h3>

        <div class="mtxl">
          <div class="d-flex componentAlign">
            <div class="wdt(50) widthStyle">
              <h1 class="joiningAsText fc(ffffff) fs(16) ff-r mtr">
                You are requesting to join as a
              </h1>
            </div>

            <div class="wdt(50) widthStyle">
              <div class="formControl wdt(100)">
                <mat-form-field
                  appearance="outline"
                  color="primary"
                  class="wdt(100)"
                >
                  <mat-select panelClass="matSelectCustomFocus">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="componentActions bgc(161F26) mb-auto wdt(100)">
    <div class="actionsWrapper container ptr pbr">
      <button
        class="btn-dialog-action ff-sb fs(16)"
        mat-raised-button
        color="accent"
      >
        Send Request
      </button>
      <button
        class="btn-dialog-action bdr(77B7FD) fc(77B7FD) ff-sb fs(16) mll"
        mat-button
      >
        Back
      </button>
    </div>
  </div>
</div>
