<app-header backgroundImage='1_football' headerTitle='Posts' quickActionType="createNewTeam" quickActionButtonText='Create Team'></app-header>
<!-- linkAction='newpost' -->
<section class="homeWrapper ">
    <div class="container-fluid  ">
        <div class=" ptl plr pbl ">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="postsOrganisedView ">
                        <app-teams-galary-view></app-teams-galary-view>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="activitiesView  mtl">
                        <app-global-activities></app-global-activities>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>