<app-header
  backgroundImage="1_football"
  headerTitle="Welcome back Andrew"
  subtitleTitle="NA Admin"
></app-header>

<section class="homeWrapper">
  <div class="container-fluid">
    <div class="ptl plr pbl">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <uikit-calendar-month-view></uikit-calendar-month-view>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <uikit-calendar-week-view></uikit-calendar-week-view>
        </div>
      </div>
    </div>
  </div>
</section>
