<div class="fComponent">
  <div class="componentBody">
    <table class="table table-hover table-dark mtr">
      <thead class="thead bgc fc(9B9B9B) fs(14) ff-r">
        <tr>
          <th scope="col " >Player Name </th>
          <th scope="col">Contact Email</th>
          <th scope="col" class="teamHeading">Teams</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="bgc(161F26) fc(9B9B9B) fs(14)">
        <tr *ngFor="let user of Players">
          <td class="ff-r headings">{{ user.name }}</td>
          <td class="ff-r">{{ user.email }}</td>
          <td class="ff-r ff-c">
            <div class="d-flex align-items-center">
              <span class="tags bgc(3F4A51) mrs bdr-rounded" *ngFor="let team of user.teams">
                {{ team }}
              </span>
            </div>
          </td>
          <td class="actions fc(ffffff)">
            <mat-icon [matMenuTriggerFor]="menu" svgIcon="horizontalDots" class="icon icon-small cursor-pointer"></mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Edit Teams</button>
              <button mat-menu-item>Remove Player</button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
