<div class="signupComponent  bgc(0F171D) wdt(100)">
    <div class="componentHeader bdrb">
        <div class="container ">
            <div class="header ptr pbs ">
                <div class="branding">
                    <img src="../../../../../assets/images/logos/LogoSmall.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="componentBody pbxl">
        <div class="inviteUsersFormWrapper container ">
            <div class="inviteUsersForm mtxl formControlTopBorderUnset wdt(50) ">
                <h1 class="formTitle ff-sb fc(ffffff) fs(32) ">Create Profile</h1>
                <h2 class="formDescription fs(16) fc(9B9B9B) ff-r mbxl"> Select other users you want to invite to the platform </h2>
                <app-invite-user-form></app-invite-user-form>
                <app-invite-user-form></app-invite-user-form>
                <app-invite-user-form></app-invite-user-form>

            </div>
        </div>
    </div>

    <div class="componentActions bgc(161F26) wdt(100)">
        <div class="actionsWrapper container ptr pbr">
            <button class="btn-dialog-action ff-sb fs(16)" color="accent" type="submit" mat-raised-button>
                Send Invites
            </button>
            <button class="btn-dialog-action bdr(77B7FD) fc(77B7FD) ff-sb fs(16) mll" mat-button>
                Skip
            </button>
        </div>
    </div>
</div>