<div class="teamDashboard ml">
  <div class="teamhome">
    <div class="d-flex flex-column teaminfowrapper">
      <div class="teamInfo mbl">
        <uikit-teams-single-view></uikit-teams-single-view>
      </div>
      <div class="teamMembers mbl">
        <uikit-team-members></uikit-team-members>
      </div>
    </div>
    <div class="d-flex flex-column teamsessionwrapper">
      <div class="teamSessions mbl">
        <uikit-team-sessions></uikit-team-sessions>
      </div>
    </div>
  </div>
</div>
