.survery-activitiesView {
  padding-right: 0 !important;
}

@media (max-width: 994px) {
  .survery-activitiesView {
    margin-top: 2rem;
  }

  .survery-activities {
    padding-right: 15px;
  }
  .surveysDashboard {
    padding-right: 15px;
  }
}
