@import "../../signup.module";

.registrationStyle {
  width: 50% !important;
  @media only screen and (max-width: 992px) {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.location {
  position: absolute;
  top: -1.9rem;
  left: -1.5rem;
}
.buttonAlign {
  @media only screen and (max-width: 700px) {
    justify-content: space-between;
  }
}
