<div class="wdt(100)">
  <div class="componentHeader bgc(FAFAFA)">
    <div class="container">
      <div class="pl text-center">
        <div class="branding">
          <img
            src="../../../assets/images/icons/lightLogo.svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="
      bgc(ffffff)
      mb-auto
      mt-5
      wdt(100)
      d-flex
      align-items-center
      flex-column
    "
  >
    <div class="d-flex flex-column align-items-center testimonial">
      <img
        src="../../../assets/images/icons/photo.svg"
        class="img-fluid d-flex"
        alt="Banner"
      />
      <p class="d-flex fc(000000) ptl">
        <span class="fc(1565d8)">Mateo Marino</span>
        <span class="pls"> has invited you to join</span>
      </p>
      <p class="d-flex fc(000000) align-items-center">
        <span class="fw(600) fs(20)">AFC Club </span>
        <span class="pls">as a Player</span>
      </p>
    </div>
    <div class="actionsWrapper pl wdt(100) text-center">
      <button
        class="btn-dialog-action buttonStyle"
        color="accent"
        mat-raised-button
      >
        Accept Invitation
      </button>
    </div>
  </div>
  <!-- Footer  -->
  <footer class="bgc(FAFAFA) h-100">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center mr">
        <mat-icon class="" svgIcon="twitter"></mat-icon>
        <mat-icon class="mll" svgIcon="darkFacebook"></mat-icon>
        <mat-icon class="mll" svgIcon="instagram"></mat-icon>
      </div>

      <p class="fs(14) mtxs">verdentum.com</p>
      <p class="mtxs text-center fs(10)">
        1725 Slough Avenue #200, Scranton, PA, 18540
      </p>
      <p class="mtxs mbr text-center fs(10)">© 2020 Bonnie Kate Wolf</p>
      <div>
        <img
          src="../../../assets/images/logos/blackWhiteLogo.svg"
          alt=""
          class="img-fluid mbr"
        />
      </div>
    </div>
  </footer>
</div>
