.sideNav {
    max-width: 240px;
}

.navItemsUl {
    list-style-type: none !important;
}

.navItemWrapper {
    padding-left: unset;
}

.mat-button {
    text-align: left !important;
}



.navItem {
    background: transparent;

    svg {
        path {
            fill  : #82898E;
            stroke: #82898E;
        }

    }
}