<app-header
  backgroundImage="2_player"
  headerTitle="Posts"
  linkAction="/dashboard/facilitator/posts/create"
  linkActionButtonText="Create Post"
></app-header>
<!-- linkAction='newpost' -->
<section class="homeWrapper">
  <div class="container-fluid">
    <div class="prr plr pbl">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <div class="postsOrganisedView mtl">
            <app-post-tabs-view></app-post-tabs-view>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="activitiesView mtl">
            <app-global-activities></app-global-activities>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
