<app-header backgroundImage='1_football' headerTitle='Welcome back Andrew' subtitleTitle='NA Admin'></app-header>

<section class="homeWrapper ">
    <div class="container-fluid  ">
        <div class=" ptl plr pbl ">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="eventsOrganisedView ">
                        <app-stats-list-view componentTitle="National Events"></app-stats-list-view>
                    </div>
                    <div class="registrationRequests mtl">
                        <app-registrations-tabview componentTitle="Registration Requests"></app-registrations-tabview>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="activitiesView ">
                        <app-global-activities></app-global-activities>
                    </div>
                </div>


            </div>
        </div>

    </div>

</section>