.headerWrap {
  display: flex;
  align-items: center;
  @media (max-width: 801px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nameslist {
  width: 30%;
  @media (max-width: 801px) {
    width: 50%;
  }
}

.memberDetails {
  width: 70%;

  @media (max-width: 801px) {
    width: 50%;
  }
}

.teamMemberShortInfo {
  padding: 0.5em 1em;
}

.teamMember {
  text-decoration: none !important;
}

.router-link-active {
  .teamMemberShortInfo {
    background: rgba(230, 244, 255, 0.05);
    border-right: 3px solid #1565d8;
  }
}

.inviteUrl {
  padding: 0.5em 2em;
  border-radius: 25px;
  margin-left: 0.5rem;
  @media (max-width: 801px) {
    margin: 0.25rem 0;
  }
  @media (max-width: 700px) {
    padding: 0.5em 1em;
    border-radius: 15px;
  }
}

.icon-small {
  height: 14px;
  width: 14px;
}

.col-3 {
  padding-right: 0px;
}
