<div class="loginFormWrapper" align="left">
  <h1 class="formTitle fs(32) fc(ffffff) ff-sb">Recover Password</h1>
  <form class="loginForm mtl fc(C3C5C7) ff-r fs(14)">
    <div class="row">
      <div class="col-md-12">
        <label class="display-block fc(EDEEEF)">Email Address</label>
        <mat-form-field
          color="primary"
          appearance="outline"
          class="formControl wdt(100)"
        >
          <input matInput type="email" class="ff-r fs(14)" #id />
        </mat-form-field>
      </div>

      <p class="col-md-12 mts fc(ffffff) fs(14)">
        A link to reset your password will be sent to your email ID
      </p>

      <a
        [routerLink]="['/auth/session/login']"
        class="col-md-12 fc(77B7FD) mts fs(14)"
        >Login
      </a>
      <div class="col-md-12 mtxl">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          class="btn btn-submit wdt(100) fc(ffffff) ff-sb fs(16) pts pbs"
        >
          Login
        </button>
      </div>
    </div>
  </form>
</div>
