<div class="participantsTableView mtr">
    <div class="sectionHeader d-flex  bgc(161F26) plr prr  bdrb  ">
        <div class="sectionTitle flex-grow-1 ff-r fs(16) align-self-center "> Participating Teams </div>
        <div class="selectType  align-self-center">
            <mat-form-field appearance="legacy" class="formControl ">
                <mat-select value="Division" required #language>
                    <mat-option value="Division">Division</mat-option>
                    <mat-option value="EN - US">EN - US</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="addNew mll align-self-center">
            <button mat-button class="ff-r fs(14) fc(77B7FD)" (click)="addNewTeam()">+ Add Team</button>
        </div>
    </div>
    <div class="sectionData participantsTable bgc(161F26) pbr ">
        <table class="table table-hover table-dark bdrb ">
            <thead class='thead bgc(373A3D) fc(9B9B9B) fs(14) ff-r'>
                <tr>
                    <th scope="col  ">Team</th>
                    <th scope="col">Division</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Added By</th>
                    <th scope="col">Status/Action</th>
                </tr>
            </thead>
            <tbody class='bgc(161F26) fc(9B9B9B) fs(14) '>
                <tr *ngFor="let user of USERS_DATA">
                    <td class=' fc(EDEEEF) ff-r fs(14) '> {{user.team}}</td>
                    <td class=' fc(EDEEEF) ff-r fs(14)'> {{user.division}}</td>
                    <td class=' fc(EDEEEF) ff-r fs(14)'> {{user.dateAdded}}</td>
                    <td class='fc(EDEEEF) ff-r fs(14)'> {{user.addedBy}}</td>
                    <td class='actions fc(EDEEEF) ff-r fs(14)'>
                        {{user.statusAction}}
                        <mat-icon svgIcon='tabCompleteCheck' class='mlr'></mat-icon>
                        <mat-icon svgIcon='crossCircle' class='mlr'></mat-icon>
                  
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>