.signupComponent {
  min-height: 100vh;
  background-image: url("../../../../../assets/images/backgrounds/signup/rocket.svg");
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 100% 130%;
  background-size: auto 70%;
  position: relative;
  @media only screen and (max-width: 600px) {
    background-position: 100% 110%;
    background-size: auto 50%;
  }
}

.componentBody {
  padding-bottom: 5em;
}

.blue {
  color: #1565d8 !important;
}
.wrapperBody {
  font-size: 32px;
  color: #ffffff;
  padding-left: 5rem;
  padding-right: 5rem;
  @media only screen and (max-width: 600px) {
    font-size: 24px !important;
    padding: 1rem 2rem 1rem 2rem !important;
  }
}
.componentActions {
  position: absolute;
  bottom: 0;
}
