<div class="loginFormWrapper" align="left">
  <h1 class="formTitle fs(32) fc(ffffff) ff-sb">Reset Password</h1>
  <form class="loginForm mtl fc(C3C5C7) ff-r fs(14)">
    <div class="row">
      <div class="col-md-12">
        <label class="display-block fc(EDEEEF)">New Password</label>
        <mat-form-field
          color="primary"
          appearance="outline"
          class="formControl wdt(100)"
        >
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-p]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <div *ngIf="hide; else show">show</div>
            <ng-template #show>hide</ng-template>
          </button>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <label class="display-block fc(EDEEEF)">Confirm Password</label>
        <mat-form-field
          color="primary"
          appearance="outline"
          class="formControl wdt(100)"
        >
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-p]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <div *ngIf="hide; else show">show</div>
            <ng-template #show>hide</ng-template>
          </button>
        </mat-form-field>
      </div>

      <div class="col-md-12 mtxl">
        <a [routerLink]="['/auth/reset-password-success']">
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="btn btn-submit wdt(100) fc(ffffff) ff-sb fs(16) pts pbs"
          >
            Reset
          </button></a
        >
      </div>
    </div>
  </form>
</div>
