@import "../../../styles.scss";

.landingNav {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    max-height: 60px;
    .singInUpButtons {
      visibility: hidden;
    }
  }
}

.icons {
  width: 44px;
  height: 44px;
}

.svgicon {
  min-width: 45px;
  min-height: 45px;
}

.landingBanner {
  border-bottom: 10px solid #0890e2;
}

.bannerWrapper {
  background-image: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.3),
      rgba(27, 27, 27, 0.3)
    ),
    url("../../../assets/images/backgrounds/landing/Banner.png");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media only screen and (max-width: 768px) {
    .bannerText {
      font-size: 26px !important;
    }
  }
}

.bannerContent {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

.whyRegisterWrapper {
  display: flex;
  justify-content: space-between;
  padding: 3em 6em;
  .registerHeading {
    width: 50%;
  }
  .functionalities {
    width: 40%;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 3em;
    .registerHeading {
      width: 100%;
    }
    .functionalities {
      width: 100%;
      margin-top: 3em;
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 3em 6em;
  align-items: center;
  .quote {
    display: flex;
    width: 75%;
    border: 1px solid #2d3c48;
    padding: 3em 6em;
    text-align: center;
  }
  .candidateProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2em;
  }

  @media only screen and (max-width: 768px) {
    padding: 3em;
    .quote {
      width: 100%;
      padding: 2em 2em 3.5em 2em;
    }
  }
}

.landingFooter {
  background-color: #23272c;
  display: flex;
  padding: 3em 6em;
  justify-content: space-between;
  align-items: center;

  .companyDescription {
    width: 40%;
  }
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 3em;
    .companyDescription {
      width: 100%;
      margin-bottom: 2em;
    }
  }
}
