// .navbar {
//   position: absolute;
//   width: 1366px;
//   height: 72px;
//   left: 0px;
//   top: 0px;

//   background: #0f171d;
//   /* sidebar shadow */

//   box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
// }
.buttonRow {
  @media only screen and (max-width: 600px) {
    float: none !important;
  }
}
.button {
  /* actions/blue */
  color: #77b7fd;
  border: 1px solid #77b7fd;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  justify-content: space-between !important;
  width: 50% !important;
  float: right;

  /* sidebar shadow */
}
.button:hover {
  background: linear-gradient(0deg, #1565d8, #1565d8);
  color: white;
}

.caption {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  /* or 141% */

  letter-spacing: 0.02em;

  color: #ffffff;
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 40px;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 600px) {
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 40px;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .button {
    width: 152.84px;
    height: 48px;
    left: 137px;
    top: 386px;
    color: #ffffff;
    background: linear-gradient(0deg, #1565d8, #1565d8);
    border-radius: 4px;
  }
  .button:hover {
    color: #1565d8;
    background: white;
  }
}
.lineBreak {
  height: 0px;
  left: 0px;
  top: 574px;

  border: 8px solid #0890e2;
}
.landingContent {
  color: #ffffff;
  height: auto;
  .content {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.02em;

    color: #ffffff;
  }
  .subContent {
    width: 478px;
    height: 124px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    color: #c3c5c7;
  }
  .flag {
    width: 40px;
    height: 40px;
  }
}

.footer {
  background: #23272c;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  .button {
    color: #77b7fd;
    border: 1px solid #77b7fd;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    justify-content: space-between !important;
    width: 50% !important;
    float: right;

    /* sidebar shadow */
  }
  .button:hover {
    background: linear-gradient(0deg, #1565d8, #1565d8);
    color: white;
  }
}
