<app-header
  backgroundImage="3_survey"
  headerTitle="NA Tournaments"
  linkAction="/dashboard/admin/tournaments/new"
  linkActionButtonText="Create Tournament"
></app-header>

<section class="surveysDashboard">
  <div class="container-fluid">
    <div class="prr plr pbl">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <div class="surveysOrganisedView mtl">
            <app-tournaments-tab-view
              componentTitle="Tournaments"
              [enableFilter]="true"
            ></app-tournaments-tab-view>
          </div>
          <div class="surveysForYou mtl">
            <app-tournaments-list-view
              componentTitle="Past Tournaments (5)"
              [enableFilter]="true"
              [isCompleted]="true"
            ></app-tournaments-list-view>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="activitiesView mtl">
            <app-global-activities></app-global-activities>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="pastTournaments mtl">
            <app-tournaments-list-view
              componentTitle="Past Tournaments (2)"
              [enableFilter]="true"
              [enableSearch]="true"
            ></app-tournaments-list-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
