.emailbg {
  background-color: #fafafa;
}

.emailBgWhite {
  background-color: #ffffff;
}

.contentWrapper {
  @media only screen and (max-width: 600px) {
    flex-direction: row !important;
  }
}

.divWrapper {
  @media only screen and (max-width: 600px) {
    padding: 0.5rem !important;
  }
}

.buttonStyle {
  padding: 0.4rem !important;
}
