<div class="wdt(100)">
  <div class="componentHeader emailbg">
    <div class="container ptl">
      <div class="pl text-center">
        <div class="branding"></div>
      </div>
    </div>
  </div>

  <div
    class="
      mb-auto
      mt-5
      wdt(100)
      pl
      divWrapper
      d-flex
      align-items-center
      flex-column
      emailBgWhite
    "
  >
    <div class="d-flex flex-column justify-content-start pr fs(20)">
      <div class="d-flex flex-column fc(000000) wdt(60)" align="left">
        <span
          >You are receiving this because you or someone else requested a
          password reset for the account <a href="">rupert@uefa.com</a></span
        >
      </div>
      <span class="ptl"
        >Please click on “Reset Password” to complete the process.</span
      >

      <span class="ptl"
        >If you’ve received this in error, you can safely ignore it.</span
      >
    </div>

    <div class="actionsWrapper pl wdt(100) text-center">
      <a [routerLink]="['/']">
        <button
          class="btn-dialog-action buttonStyle fs(20)"
          color="accent"
          mat-raised-button
        >
          Reset Password
        </button></a
      >
    </div>
  </div>
  <!-- Footer  -->
  <footer class="h-100 emailbg">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center mr">
        <mat-icon class="" svgIcon="twitter"></mat-icon>
        <mat-icon class="mll" svgIcon="darkFacebook"></mat-icon>
        <mat-icon class="mll" svgIcon="instagram"></mat-icon>
      </div>

      <p class="fs(14) mtxs">verdentum.com</p>
      <p class="mtxs text-center fs(10)">
        1725 Slough Avenue #200, Scranton, PA, 18540
      </p>
      <p class="mtxs mbr text-center fs(10)">© 2020 Bonnie Kate Wolf</p>
      <div>
        <img
          src="../../../assets/images/logos/blackWhiteLogo.svg"
          alt=""
          class="img-fluid mbr"
        />
      </div>
    </div>
  </footer>
</div>
