<div class="loginFormWrapper pr" align="left">
  <h1 class="formTitle fs(32) fc(ffffff) ff-sb">Sign up successful!</h1>
  <p class="fc(C3C5C7) fs(16) ptr mbl">
    To begin this journey, tell us what type of a player are you.
  </p>

  <div class="row">
    <div class="col-md-12">
      <div
        [className]="
          selected == 1
            ? 'selected content justify-content-start bgc(161F26)'
            : 'bdr(373A3D)  bdr-rounded content justify-content-start bgc(161F26)'
        "
        (click)="setSelected(1)"
      >
        <img
          src="../../../../../../assets/images/others/footballPlayer.png"
          alt=""
          class="pr optionImage"
        />
        <div
          class="d-flex justify-content-start flex-column align-items-start pr"
        >
          <p class="titleText fw(600) fs(16) fc(ffffff) pts pbs">
            Yes! I’m a Football Player
          </p>
          <p class="descriptionText fw(600) fs(14) fc(C3C5C7)">
            Creates a profile for you and you may add dependents
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 mtl">
      <div
        [className]="
          selected == 2
            ? 'selected content justify-content-start bgc(161F26)'
            : 'bdr(373A3D)  bdr-rounded content justify-content-start bgc(161F26)'
        "
        (click)="setSelected(2)"
      >
        <img
          src="../../../../../../assets/images/others/signupUser.png"
          alt=""
          class="pr optionImage"
        />
        <div
          class="d-flex justify-content-start flex-column align-items-start pr"
        >
          <p class="titleText fw(600) fs(16) fc(ffffff) pts pbs">
            I dont play football but have dependents who do
          </p>
          <p class="descriptionText fw(600) fs(14) fc(C3C5C7)">
            Creates a profile for your dependents only
          </p>
        </div>
      </div>
    </div>
    <div class="wdt(100) mtxl">
      <a [routerLink]="['/dashboard/player/home']">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          class="btn btn-submit wdt(100) fc(ffffff) ff-sb fs(16) pts pbs"
        >
          Proceed
        </button></a
      >
    </div>
  </div>
</div>
