<div class="loginFormWrapper" align="left">
  <h1 class="formTitle fs(32) fc(ffffff) ff-sb">Provide your Date Of Birth</h1>
  <form class="loginForm mtl fc(C3C5C7) ff-r fs(14)">
    <div class="row">
      <div class="col-md-12">
        <label class="display-block fc(EDEEEF) fs(14)">Date of Birth </label>
        <mat-form-field appearance="outline" color="primary" class="wdt(100)">
          <input
            matInput
            [matDatepicker]="startDatePicker"
            class="ff-r fs(14) p-1"
            placeholder="DD/MM/YYYY"
          />
          <mat-datepicker-toggle matSuffix [for]="startDatePicker">
          </mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-12 mtxl">
        <a [routerLink]="['/auth/session/signup']">
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="btn btn-submit wdt(100) fc(ffffff) ff-sb fs(16) pts pbs"
          >
            Next
          </button></a
        >
      </div>
    </div>
  </form>
</div>
