<div class="wdt(100)">
  <div class="componentHeader emailbg">
    <div class="container">
      <div class="pl text-center">
        <div class="branding">
          <img
            src="../../../assets/images/icons/lightLogo.svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="
      mb-auto
      mt-5
      wdt(100)
      d-flex
      align-items-center
      flex-column
      emailBgWhite
    "
  >
    <div class="d-flex flex-column align-items-center testimonial">
      <img
        src="../../../assets/images/icons/emailTick.svg"
        class="img-fluid d-flex"
        alt="Banner"
      />
      <p class="d-flex fc(000000) ptl fw(600) fs(20)">
        Registration Request Approved
      </p>
      <p class="d-flex fc(000000) align-items-center pr">
        Your request for London Regional Association has been approved.
      </p>
    </div>
    <div class="actionsWrapper pl wdt(100) text-center">
      <a [routerLink]="['/']">
        <button
          class="btn-dialog-action buttonStyle"
          color="accent"
          mat-raised-button
        >
          Login to Futbol
        </button></a
      >
    </div>
  </div>
  <!-- Footer  -->
  <footer class="h-100 emailbg">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center mr">
        <mat-icon class="" svgIcon="twitter"></mat-icon>
        <mat-icon class="mll" svgIcon="darkFacebook"></mat-icon>
        <mat-icon class="mll" svgIcon="instagram"></mat-icon>
      </div>

      <p class="fs(14) mtxs">verdentum.com</p>
      <p class="mtxs text-center fs(10)">
        1725 Slough Avenue #200, Scranton, PA, 18540
      </p>
      <p class="mtxs mbr text-center fs(10)">© 2020 Bonnie Kate Wolf</p>
      <div>
        <img
          src="../../../assets/images/logos/blackWhiteLogo.svg"
          alt=""
          class="img-fluid mbr"
        />
      </div>
    </div>
  </footer>
</div>
