<app-header backgroundImage="2_player" headerTitle="Events"></app-header>

<section class="homeWrapper">
  <div class="container-fluid">
    <div class="people d-flex mtl">
      <div class="userWrapper" [ngClass]="{isActive: true}">
        <div class="activeWrapper">
          <img src="../../../../../assets/images/users/person.png" alt="" class="userIcon">
        </div>
        <div class="isActiveDotWrapper mtxs" align="center">
          <div class="isActiveDot"></div>
        </div>
      </div>
    </div>
    <div class="mtl bgc(161F26) bgshadow1 bdr-rounded">
      <uikit-surveys  ></uikit-surveys>
    </div>
  </div>
</section>
