/* You can add global styles to this file, and also import other style files */

@import "src/app/styles/main";

@import "~@angular/material/theming";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


p{
    margin: unset;
}

$custom-typography: mat-typography-config(
  $font-family: '"Nunito Sans", sans-serif',
);
@include mat-core($custom-typography);

$candy-app-primary: mat-palette($mat-indigo);

// here I am specify the grey instead of Pink.

$candy-app-accent: mat-palette($mat-grey, 600, 500, 900);
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

// here I am only calling checkbox mixin because i only want to change the checkbox color
@include mat-checkbox-theme($candy-app-theme);
