/* You can add global styles to this file, and also import other style files */

@import "src/app/styles/main";


@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

html,
body {
  height: 100%;
  width : 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


p {
  margin: unset;
}

$custom-typography: mat-typography-config($font-family: '"Nunito Sans", sans-serif',
);
@include mat-core($custom-typography);

