<section class="authSection container-fluid bgc(0F171D)">
  <div class="d-flex flex-row imageLoginWrapper">
    <div class="authBanner flex-shrink-1">
      <img
        src="../../../../../assets/images/auth/loginBanner.jpg"
        alt=""
        class="authBannerImg hgt(100)"
      />
    </div>
    <div
      class="router-outlet-wrapper flex-grow-1 align-self-center"
      align="center"
    >
      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
