.teamMemberShortInfo {
  padding: 0.5em 1em;
}

.teamMember {
  text-decoration: none !important;
}

.router-link-active {
  .teamMemberShortInfo {
    background: rgba(230, 244, 255, 0.05);
    border-right: 3px solid #1565d8;
  }
}

.squadlist {
  width: 30%;
  @media (max-width: 801px) {
    width: 50%;
  }
}

.squadDetails {
  width: 70%;

  @media (max-width: 801px) {
    width: 50%;
  }
}

.inviteUrl {
  padding: 0.5em 2em;
  border-radius: 25px;
}

.icon-small {
  height: 14px;
  width: 14px;
}

.col-3 {
  padding-right: 0px;
}
