<h2 class="fc(EDEEEF) ff-sb fs(20) mbr">
    Add Team
    <span class="float-right display-button mlxxl" mat-dialog-close>
        <mat-icon class="fc(82898E)">close</mat-icon>
    </span>
</h2>
<mat-dialog-content class="mat-typography custom-dialog-content" color="primary">
    <div class="horizontalLine">
        <div class="horizontal-line bdrt"></div>
    </div>
    <div class="newEventFormWrapper mtl">
        <form class="newEventForm formControlTopBorderUnset" autocomplete="off">
            <div class="inputGroup  ">
                <div class="row">
                    <div class="col-12">
                        <div class="formControl wdt(50)">
                            <label class="display-block fc(EDEEEF)   ">Division</label>
                            <mat-form-field appearance="outline" color="primary" class=" wdt(100)">
                                <mat-select panelClass="matSelectCustomFocus">
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Institute Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Team Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Coach</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Coach Official Email</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>
                </div>

                <hr class="divider bdrb ">
            </div>

            <div class="inputGroup mtl">
                <h3 class="inputGroupTitle ff-sb fc(ffffff) fs(20)">Players</h3>
                <div class="row">
                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Player Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Contact Email Address</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Player Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Contact Email Address</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Player Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Contact Email Address</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Player Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Contact Email Address</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Player Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Contact Email Address</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Player Name</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <label class="display-block fc(EDEEEF)">Contact Email Address</label>
                        <mat-form-field appearance="outline" class="formControl wdt(100)">
                            <input matInput type="text" class="ff-r fs(14)" />
                        </mat-form-field>
                    </div>
                </div>
            </div>

    </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="start">
    <div class="actionsWrapper pll">
        <button class="btn-dialog-action ff-sb fs(16)" color="accent" mat-raised-button mat-dialog-close>
            Submit for Approve
        </button>
        <button class="btn-dialog-action bdr(77B7FD) fc(77B7FD) ff-sb fs(16) mll" mat-button mat-dialog-close>
            Cancel
        </button>
    </div>
</mat-dialog-actions>